<!DOCTYPE html>
<html>
<head>
    <style>
        body { background-color: ${APP_COLOR}; color: white; font-family: sans-serif; }
    </style>
</head>
<body>
    <h1>Bienvenue sur ${SERVICE_NAME}</h1>
    <p>Ce message est configuré via Docker Swarm !</p>
</body>
</html>